@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

:root {
  /* ## Colors */

  /* ### Primary */

  --lightCyan: hsl(193, 38%, 86%);
  --neonGreen: hsl(150, 100%, 66%);

  /* ### Neutral */

  --grayishBlue: hsl(217, 19%, 38%);
  --darkGrayishBlue: hsl(217, 19%, 24%);
  --darkBlue: hsl(218, 23%, 16%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--darkBlue);
    font-family: 'Manrope', sans-serif;
}

.mainContainer {
    margin: 0 30%;
    background: var(--darkGrayishBlue);
    border-radius: 12px;
    text-align: center;
    padding: 2rem;
    position: relative;
}

.mainContainer p {
    color: var(--neonGreen);
    letter-spacing: 3px;
    margin-bottom: 1rem;
}

.mainContainer h1 {
    color: var(--lightCyan);
    font-size: 28px;
    margin-bottom: 2.5rem;
}

.lineDivider {
    margin-bottom: 1rem;
}

.lineMobile {
    visibility: hidden;
}

.iconDice {
    background-color: var(--neonGreen);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 45.8%;
    bottom: -8%;
    border: none;
    transition: all 0.2s ease-in-out;
}

.iconDice:hover{
    cursor: pointer;
    background-color: hsl(150, 90%, 69%);
    box-shadow: 0px 0px 15px  hsl(150, 90%, 69%);
}

/* Rsponsive */

@media (max-width: 570px) {
    .mainContainer {
        width: 90%;
    }

    .mainContainer p {
        font-size: 0.8rem;
    }

    .mainContainer h1 {
        font-size: 1.5rem;
        margin-bottom: 0;
    }

    .lineMobile {
        visibility:visible;
        width: 100%;
        margin-bottom: 1rem;
    }
    .lineDesktop {
        visibility: hidden;
    }
    .iconDice{
        left: 45%;
    }
}